@use '../../../styles/colors.scss' as *;

#navbar-header-dashboard {
  margin-left: 40px;

  .conteudo-nav {
    padding: 7px !important;
    margin-bottom: 5px !important;
    width: 93% !important;

    @media (max-width: 1280px) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 800;
      background-color: #fff;
      width: 100% !important;
      min-height: 60px;
    }
  }

  @media (max-width: 1280px) {
    width: 100% !important;
    margin-left: 0px;
  }
  > div {
    border-bottom: $gray-1 1px solid;
  }

  position: relative;
  padding: 0 50px;
  @media (max-width: 1280px) {
    padding: 0 0px;
  }
  #sidebarToggleTop {
    display: none;
    @media (max-width: 1280px) {
      display: block;
      color: #0065dd;
      font-size: 22px;
    }
  }
  img {
    width: 32px;
    height: 32px;
    border: 1px solid #4bb7f1;
    border-radius: 50%;
    margin-right: 5px;
  }
  .name-perfil {
    margin: 0;
  }
  p {
    margin: 0;
    margin-bottom: 0px;
    &.saudacao {
      padding-right: 10px;
      margin-bottom: 0;
      color: $gray-3;
    }
  }
  .row-gray {
    margin-top: 0.5rem !important;
  }

  .content-user {
    @media (max-width: 1280px) {
      display: none !important;
    }
  }
}
.container-fluid {
  @media (max-width: 1280px) {
    padding-right: 25px !important;
  }
}

.buttonUpdate {
  margin-top: 20px;
  border: 1px solid #adadad;
  background-color: white;
  padding: 8px 16px;
  border-radius: 50px;
  color: #adadad;
}

#navbarMenuD {
  background-color: rgb(46, 45, 45);
  z-index: 1000;
  align-items: center;
}

.login {
  @media (max-width: 820px) {
    padding-left: 0 !important;
  }
}
.menuFotos {
  background-color: rgb(70, 69, 69);
  transition: 1s;
}
.botaoFotos {
  span {
    text-decoration: none;
    color: #c7c7c7;
    font-size: 0.9rem;
    margin-right: 10px;
    cursor: pointer;
  }
}
.botaoFotos:hover {
  .text {
    color: #fff !important;
  }
}
.menuSumir {
  display: none;
  transition: 1s;
}
.logo-navbar2 {
  background-image: url('../../../assets/logo-dark.png');
  background-repeat: no-repeat, repeat;
  background-size: 40%;
  height: 120%;
  @media (max-width: 800px) {
    background-size: 100%;
    margin-top: 5px;
  }
}
.logo-lik2 {
  align-items: center;
  padding-top: 10px;
  width: 10% !important;

  @media (max-width: 800px) {
    width: 60px !important;
    height: 40px;
    margin-left: 0;
    display: none;
  }
}
.logo-b {
  width: 80% !important;
  margin: 0px;
  padding: 0px;
  color: #0065dd;

  text-decoration: none;
  align-items: center;
  h1 {
    font-size: 17px !important;
  }
}
.dropdow {
  position: absolute;
  top: 48px !important;
  right: 60px;
  width: 200px;
  height: 80px;
  text-align: center;
  padding-top: 10px;
  line-height: 30px;
  background-color: #fff;
  box-shadow: 0 5px 6px 1px #9d9d9f;
  z-index: 800;
  li {
    cursor: pointer;
  }
  li:hover {
    color: #007bff;
  }
  @media (max-width: 800px) {
    right: 10px;
  }
}
.no-dropdow {
  position: absolute;
  top: 30px;
  right: 60px;
  width: 200px;
  height: 0px !important;
  text-align: center;
  line-height: 30px;
  background-color: #fff;
  @media (max-width: 800px) {
    right: 20px;
  }
  ul {
    display: none;
  }
}
